{
  "ConnectionStrings:AzureAppConfigConnection": "your your app-config-connection-string (not used)",
  "ConnectionStrings:IdentityDatabaseConnectionString": "identity db connectionstring",
  "ConnectionStrings:ApplicationDatabaseConnectionString": "app db connectionstring",
  "ConnectionStrings:StorageAccountConnectionString": "storage connectionstring",
  "APPLICATIONINSIGHTS_CONNECTION_STRING": "your app-insights-connection-string (optional)"
}